extends parts/main.jade

block content
    .col-md-8
        .main-content
            .row
                .col-md-4
                .col-md-4
                    ul.pb-buttons-main
                        li.pb-btn.pb-btn-profit Доходы
                        li.pb-btn.pb-btn-all.active Все
                        li.pb-btn.pb-btn-leave Расходы
                .col-md-4
                    div.form-group.row
                        //label.col-2.col-form-label(for="example-search-input") <i class="fa fa-search" aria-hidden="true"></i>
                        div.col-md-12
                            input#example-search-input.form-control(type="search", placeholder="Поиск")
            .pb-tables
                table.table.table-hover
                    thead
                        tr
                            th <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Дата
                            th <i class="fa fa-tags" aria-hidden="true"></i> Категория
                            th <i class="fa fa-pencil-square" aria-hidden="true"></i> Описание
                            th <i class="fa fa-money" aria-hidden="true"></i> Расход/Доход
                            th
                            th
                    tbody
                        for item in options.data
                            tr(class=(item.type == 'доход') ? 'pb-tr-profit': 'pb-tr-expens')
                                td #{item.date}
                                td.pb-cat
                                    div <i class="fa fa-tag" aria-hidden="true"></i> #{item.category}
                                if item.description == ''
                                    td -
                                else
                                    td #{item.description}
                                if item.type == 'расход'
                                    td.pb-leave - #{item.sum} руб.
                                else
                                    td.pb-profit + #{item.sum} руб.
                                td.pb-btn-edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                td.pb-btn-close <i class="fa fa-times" aria-hidden="true"></i>
